<h1>Songs#index</h1>
<p>Find me in app/views/songs/index.html.erb</p>

<h1>myMusic</h1>

<h3>List of Songs</h3>

<ul>
  <% @songs.each do |song| %>
    <li><%= song.title %></li>
    <%= link_to 'Edit', edit_song_path(song) %>
    <%= link_to 'Delete', song, method: :delete, data: { confirm: 'Are you sure?'} %>
  <% end %>
</ul>

<%= link_to 'New Song', new_song_path %>
