<div class="song-index-page">
  <h1>myMusic</h1>

  <h3 class="list-song-title-2">List of Songs</h3>

  <div class="list-songs">
    <% @songs.each do |song| %>
      <div class="song-title"><%= song.title %></div>
      <div id="edit-container"><%= link_to 'Edit', edit_song_path(song) %></div>
      <div id="delete-container"><%= link_to 'Delete', song, method: :delete, data: { confirm: 'Are you sure?'} %></div><br/>
    <% end %>
  </div>

  <p class="new-song-link"><%= link_to 'New Song', new_song_path %></p>
</div>
