<div class="show-song-container">
  <div class="inner-edit-song-container col-md-12">
    <h3><%= @song.title %></h3>
    <textarea class="form-control" rows="30"><%= @song.lyrics %></textarea>

    <%= link_to "Back", home_path %>
  </div>
</div>
