// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*****SONG MAIN PAGE*****/
.song-index-page {
  background-color: #fff;
  height: 100vh;
  width: 100vw;
  padding-left: 10px;
}

.list-song-title-1 {
  color: white;
}


/*****CONTAINER FOR SONG TITLE*****/
.song-title {
  font-size: 20px;
}

.song-container {
  border: 1px;
  box-shadow: 5px 1px 2px #888888;
}

.song-container:hover {
  background-color: #999;
}

.show-song {
  text-decoration: none !important;
  color: #000;
}

