// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*****SONG MAIN PAGE*****/
.song-main-container {
  background-color: #fff;
  max-height: 100vh;
  max-width: 100vw;

}

.inner-container {
  height: 100vh;
  width: 80%;
  margin: 0 auto;
  padding: 0 !important;
  background-color: #fff;
}

#side-nav {
  background-color: orange;
  height: 100vh;
}

/*****CONTAINER FOR SONG TITLE*****/
.song-title {
  font-size: 20px;
}

.song-list-container {
  border: 1px;
  box-shadow: .3px .3px 1px #666;
  width: 100%;
  margin: 0 auto !important;
}

.song-list-container:hover {
  background-color: #eee;
}

.show-song {
  text-decoration: none !important;
  color: #000;
}

